{% extends 'layout.html' %}
{% block content %}
    <h1>{{ pagename }}</h1>
    <p>
            Introduction
            This assignment focuses on secure Web development. For this assignment, you are tasked with turning your spell checking system from Assignment 1 into a Web service using Flask, while focusing on the security of the Web service you are implementing. After you develop the secure Web service, you will test it to ensure it is not vulnerable to common attacks. Though it is not part of the grade, you should continue to use the secure development practices that you established in Assignment 1.
    </p>
{% endblock content %}